[Desktop Entry]
Type=Application
Name=Fastboot Enhance
Comment=Fastboot toolbox and payload dumper
Exec=FastbootEnhance
Icon=FastbootEnhance
Terminal=false
Categories=Utility;
StartupNotify=true
